
<!-- Content Header (Page header) -->

<div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách viêc tốt nhất</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item active">Best of Job List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div>
                        <!-- /.card-header -->
                        <div style="overflow-x:auto;">
                            <table id="bestjob" class="table table-bordered table-hover">
                                <thead>
                                    <tr style="height: 50px">
                                        <th>Name</th>
                                        <th>NameCompany</th>
                                        <th>Exprence</th>
                                        <th>AddressWork</th>
                                        <th>LocalzoneWork</th>
                                        <th style="width: 400px; overflow: hidden; text-overflow: ellipsis">Description</th>
                                        <th>Requirement</th>
                                        <th>Benefit</th>
                                        <th>Major</th>
                                        <th>Skill</th>
                                        <th>Benefit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>NameCompany</th>
                                    <th>Exprence</th>
                                    <th>AddressWork</th>
                                    <th>LocalzoneWork</th>
                                    <th>Description</th>
                                    <th>Requirement</th>
                                    <th>Benefit</th>
                                    <th>Major</th>
                                    <th>Skill</th>
                                    <th>JobType</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script src="/js/clientHandle/Job/jobController.js"></script>

