
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách việc làm tốt nhất</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="bestjob">

                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.row -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<script src="/js/clientHandle/Job/jobController.js"></script>

