/*định dạng card body*/
.card-body{
    padding: -1.75rem;
}

#tooge_nav{
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
    margin-top: -1em;
    padding-left: 25px;
    padding-right: 25px;
    height: 50px;

}
#tooge_nav ul li{
    margin-left: 2%;
    margin-right: 2%;
}
#tooge_nav ul li a{
    width: 160px;
    height: 18px;
}

#tooge_chill .nav-item a {
    color: #00a65a;
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;
    margin-left: auto;
    margin-right: auto;
}
#tooge_chill .nav-item a:hover {
    border-bottom: #1c7430;
}
/*
navbar2
*/
#navbar2 {
    padding-bottom: 30px;
}

/*search bar*/
/*search box css start here*/
.search-sec{
    margin-top: 46px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #212f3f;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}

/*canh lề giữ page*/
.align-center-page {
    /*margin-left: 1em;*/
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
.box-general{
    background-color: #212f3f;
}
.box-general .card-title{
    color: #ffffff;
}
.box-general .card-tools a{
    color: #ffffff;
}
.job-item {
    background-color: #fff;
    padding: 5px;
    border-radius: 2px;
    margin: 5px 0;
    border: 1px solid hsla(0,0%,93%,.8);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    box-sizing: border-box;
}
.jobbox {
    max-width: 100%;
}
.box-company-logo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.job-item .col-company-logo {
    padding-right: 0;
}
.job-item .box-company-logo, box-company-logo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.feature-job-item .row .jobbox .job-item .row .col-xs-9 {
    width: 75%;
    float: left;
    padding-left: 0;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}
.feature-job-item .row .jobbox .job-item .row .col-xs-9 {
    width: 75%;
    float: left;
    padding-left: 0;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.col-title {
    padding-left: 0;
}
.text_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-dark-gray {
    color: #666666;
}
.box-high-salary-jobs {
    background-color: #ffffff;
}
.box-high-salary-jobs card-footer {
    background-color: #ffffff;
}

.card-footer .carousel-indicators {
    position:inherit;
    margin-bottom: 0rem;
}


.card-footer .carousel-indicators li {
    background-color: #00a65a;
}



h1.job-title {
    margin-top: 0;
    font-size: 24px;
}
.text-highlight {
    color: #00b14f;
}
.bold {
    font-weight: 700;
}
.text-dark-blue {
    color: #212f3f;
}

a:hover {
    color: #00b14f;
    text-decoration: none;
}

/*Button Apply*/
.apply-area {
    padding-top: 2rem;
}
.apply-area .btn {
    width: 180px;
}
.btn-topcv-primary {
    background-color: #00b14f;
    color: #fff;
}
.btn {
    padding: 10px 20px;
    font-weight: 700;
}


/*company tab*/
.container {
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    min-width: 750px;
    width: 96%;
}

/*tab menu*/
/*.tab-menu{
    list-style: none;
    height: 56.6px;
    padding-left: 12rem;
}
.tab-menu li {
    padding-left: 4rem;
}*/

#tab-company .nav-pills {
    margin: 0;
        margin-top: 13px;
        margin-right: 0px;
        margin-bottom: 13px;
        margin-left: 0px;
}
#tab-company ul li a {
    margin-right: 110px;
    color: #666;

}
#tab-company ul li a {
    border-radius: 0;
    margin-top: 10px;

    padding: 10px 20px 15px 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 10px;

}

#tab-company ul li a:hover {
    background: 0 0;
    color: #212f3f;
    font-weight: 700;
    border-bottom: 2px solid #212f3f;
}

#tab-company ul li.active > a {
    background: 0 0;
    color: #212f3f;
    font-weight: 700;
    border-bottom: 2px solid #212f3f;
}

.text_ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
/*box right*/
.box_general > h2 {
    font-size: 17px;
    margin: auto;
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #00b14f;
    border-radius: 3px 3px 0 0;
    color: #fff;
}


#box-info-job {
    padding: 0 10px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
}
#box-info-job .job-info-item {
    border-bottom: 1px solid #ececec;
    padding: 15px;
}

#box-relate-jobs {
    margin-top: 20px;
}
.box_general {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    margin-bottom: 25px;
}

/*format for image*/
.company-cover .container .cover-img {
    width: 100%;
    margin-top: 20px;
}
.img-container .img-to-fit {
    flex: 1;
    height: 100%;
}
.img-responsive {
    max-width: 100%;
    display: inline-block;
}
img {
    background-size: cover;
    vertical-align: middle;
    border-style: none;
}
/*format job title*/
.textoverflow {
    word-wrap: break-word;
    overflow-wrap: break-word;
}



/*format company cover*/
.company-cover {
    background-color: #fff;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 30px;
    margin-top: -20px;
}


/*format for cover band */
.company-detail-overview {
    margin: 15px auto 5px;
    position: relative;
}
    /*format images band*/
    .company-detail-overview #company-logo {
        height: 175px;
        width: 175px;
        position: absolute;
        top: -40px;
    }
    .company-detail-overview #company-logo {
        border: 1px solid #efefef;
        padding: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        background-color: #fff;
    }

/*format company section*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}

/*format company detail*/
    /*format content of company*/
    .box-white {
        background-color: #fff;
    }
    .box {
        padding: 20px;
        margin-bottom: 20px;
    }

    /*format comnay detail rating*/

    .box-company-info .col-right {
        margin-top: 60px;
    }
    #box-review-company {
        border: 1px solid #d9d9d9;
    }
    .box-white {
        background-color: #fff;
    }
    .box {
        padding: 20px;
        margin-bottom: 20px;
    }
/*format box company .col right*/
    .box-company-info .col-right {
        margin-top: 47px;
    }


    /*format for redirect admin page*/
    .dropdown-item:hover {
      
        text-decoration: none;
        background-color: #416c97;
    }


