<!-- Heading Row -->
<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="img/side1.jpg">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
        <h1 class="font-weight-light">Cơ hội việc làm dành cho bạn!</h1>
        <p>Đây là trang web mà các cá nhân, hoặc sinh viên tại các trường đại học tìm kiếm cơ hội làm việc cho mình
            được liên kết với các công ty giúp bạn có thể tìm được công việc phù hợp mà không mất khoảng phí nào!</p>
        <a class="btn btn-primary" href="#">Bắt đầu ngay!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">Khi tìm việc trên trang web chúng tôi bạn sẽ được các quyền lợi như bên dưới, và nhiều hơn nữa!</p>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Bảo mật thông tin</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                    numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Nhanh chóng</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus
                    at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates
                    quos eligendi labore.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Hiệu quả</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex
                    numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary btn-sm">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
    <!-- /.col-md-4 -->

</div>
<!-- /.row -->
<!-- Footer -->