<%- include("../partials/bestjob.ejs")%>

<div class="boxjbox">
    <div class="container">
        <div class="row">
            <%- inclue("../partials/bestjob.ejs")%>
            <%- inclue("../partials/hotjobs.ejs") %>
        </div>
    </div>
</div>