<div class="col-9 align-center-page" style="margin-top: 40px">
    <!-- Default box -->
    <div class="card">
        <div class="card-header box-general">
            <h3 class="card-title"><i class="far fa-star"></i> CÔNG VIỆC TỐT NHẤT</h3>

            <div class="card-tools">
                <a href="/#">Xem thêm >>></a>
            </div>
        </div>
        <div class="card-body">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 feature-job">
                                    <div class="feature-job-item">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 jobbox">
                                                <div class="job-item">
                                                    <div class="row" style="margin-left: 10px">
                                                        <div class="col-xs-3 col-company-log">
                                                            <a href="#">
                                                                <div class="box-company-logo">
                                                                    <img src="img/logo.png">

                                                                </div>
                                                            </a>
                                                        </div>
                                                        <div class="col-xs-9 col-title" style="margin-left: 15px;">
                                                            <div class="text_ellipsis">
                                                                <a href="#">
                                                                    <strong data-toggle="tooltip" data-original-title="Chuyên Viên SEO (Senior SEO Specialist) - Up to $1000" data-placement="top" class="" style="font-weight: bold;">
                                                                        Chuyên Viên SEO (Senior SEO Specialist) - Up to $1000
                                                                    </strong>
                                                                </a>
                                                            </div>
                                                            <div class="company text_ellipsis">
                                                                <a href="https://www.topcv.vn/cong-ty/cong-ty-tnhh-bogo-viet-nam/242.html" target="_blank" class="text-silver" tabindex="-1"><span data-toggle="tooltip" title="" data-placement="top" data-container="body" data-original-title="Công ty TNHH BOGO Việt Nam">Công ty TNHH BOGO Việt Nam</span></a>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <div class="salary text-dark-gray" style="margin-left: 1em">
                                                                        <i class="fa fa-dollar-sign text-highlight"></i> Tới 18 triệu
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6" style="margin-left: 2em">
                                                                    <div class="address text-dark-gray">
                                                                        <i class="fa fa-map-marked text-highlight"></i> Hồ Chí Minh
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</div>