<nav class="main-header navbar-expand-md navbar-light navbar-white" style="margin-top: 5px">
    <div class="container">
        <nav id = "tooge_nav" class="navbar navbar-expand-md navbar-new-bottom">
            <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2 ">
                <ul id="tooge_chill" class="navbar-nav w-100">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Tìm việc làm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Việc làm top công ty</a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Việc làm phù hợp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Việc làm đã lưu</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</nav>